LARK_APP_ID=cli_a90a158106f8deef
LARK_APP_SECRET=RZqdgczHanckP9MARZwhZbPhWeRqjD3x
ALERT_GROUP_ID=oc_7389004c552f107cad37e64eb15bccb2
LARK_VERIFICATION_TOKEN=
DATABASE_URL=sqlite+aiosqlite:///./data/alerts.db
LOG_LEVEL=INFO
